body, h1 {
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
    color: #fff;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.search-container {
    flex: 1 0 33%; 
    min-width: 200px;
    padding: 20px;
    box-sizing: border-box;
}

.searchContainer {
    width: 100%;
}

#searchBox {
    width: calc(100% - 80px);
    margin-right: 10px;
}

#search-button {
    width: 80px;
}

.weather-forecast {
    flex: 2 0 66%; 
    padding: 10px;
    box-sizing: border-box;
}

.current-weather {
    border: red solid 2px;
    margin: 10px 0;
    padding: 10px;
}

.forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.forecast-day {
    flex: 1 0 calc(20% - 20px); 
    margin: 10px 0;
    padding: 10px;
    border: 2px solid blue;
}

.weather-icon {
    margin-top: 5px;
    display: block;
}

.history-section {
    margin-top: 20px;
}

.search-history {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.history-item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.search-history button {
    margin: 5px;
}
