body, h1 {
    margin: 0;
    padding: 0;
  }

header {
    background-color: blue;
    color: #fff; 
    padding: 20px; 
    width: 100%; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
}
h1 {
    text-align: center;
}

.searchContainer {
    width: 25%;
    min-width: 200px; 
    left: 0; 
    padding: 20px; 
    box-sizing: border-box; 
}


#searchBox {
    width: calc(100% - 80px); 
    margin-right: 10px; 
}
#search-button {
    width: 80px; 
}


.historySection {
    
}

.current-weather {
    border: red solid 2px;
    margin: 10px;
    padding: 10px;
}

.forecast-day {
    margin: 10px;
    padding: 10px;
    border: 2px solid blue;
}

.weather-icon {
    margin-top: 5px; 
    display: block; 
}
